{% extends "base_ch.html" %}
{% block title %}Options{% endblock%}
{% block content %}
<h2 align="center">Please indicate your recommendation preference</h2>
<hr>
<form method="post" action="/options">
<div class="form-check">
  <input class="form-check-input" type="radio" name="opt" id="opt1" value="option1">
  <label class="form-check-label" for="opt1">
    Option 1:
  </label>
  <br>
  <p4>We will always recommend videos from your most preferred categories</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt2" value="option2">
  <label class="form-check-label" for="opt2">
    Option 2:
  </label>
  <br>
  <p4>We will recommend two videos from your most preferred categories, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt3" value="option3">
  <label class="form-check-label" for="opt3">
    Option 3:
  </label>
  <br>
  <p4>We will recommend three videos from your most preferred categories, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt4" value="option4">
  <label class="form-check-label" for="opt4">
    Option 4:
  </label>
  <br>
  <p4>We will recommend four videos from your most preferred categories, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt5" value="option5">
  <label class="form-check-label" for="opt5">
    Option 5:
  </label>
  <br>
  <p4>We will recommend one video from your most preferred categories, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt6" value="option6">
  <label class="form-check-label" for="opt6">
    Option 6:
  </label>
  <br>
  <p4>We will recommend one video from the categories you are indifferent to, followed by a video from your most preferred categories in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt7" value="option7">
  <label class="form-check-label" for="opt7">
    Option 7:
  </label>
  <br>
  <p4>We will recommend one video from the categories you are indifferent to, followed by two videos from your most preferred categories in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt8" value="option8">
  <label class="form-check-label" for="opt8">
    Option 8:
  </label>
  <br>
  <p4>We will always recommend videos from your least preferred categories</p4>
  <hr>
<input class="form-check-input" type="radio" name="opt" id="opt9" value="option9">
  <label class="form-check-label" for="opt9">
    Option 9:
  </label>
  <br>
  <p4>We will recommend two videos from your most preferred categories, followed by a video from the categories you prefer least in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt10" value="option10">
  <label class="form-check-label" for="opt10">
    Option 10:
  </label>
  <br>
  <p4>We will recommend three videos from your most preferred categories, followed by a video from the categories you prefer least in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt11" value="option11">
  <label class="form-check-label" for="opt11">
    Option 11:
  </label>
  <br>
  <p4>We will recommend four videos from your most preferred categories, followed by a video from the categories you prefer least to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt12" value="option12">
  <label class="form-check-label" for="opt12">
    Option 12:
  </label>
  <br>
  <p4>We will recommend one video from your most preferred categories, followed by a video from the categories you prefer least to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt13" value="option13">
  <label class="form-check-label" for="opt13">
    Option 13:
  </label>
  <br>
  <p4>We will recommend two videos from your most preferred category, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt14" value="option14">
  <label class="form-check-label" for="opt14">
    Option 14:
  </label>
  <br>
  <p4>We will recommend three videos from your most preferred category, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt15" value="option15">
  <label class="form-check-label" for="opt15">
    Option 15:
  </label>
  <br>
  <p4>We will recommend four videos from your most preferred category, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt16" value="option16">
  <label class="form-check-label" for="opt16">
    Option 16:
  </label>
  <br>
  <p4>We will recommend one video from your most preferred categories, followed by a video from the categories you are indifferent to in an alternating way</p4>
  <hr>
 <input class="form-check-input" type="radio" name="opt" id="opt17" value="option17">
  <label class="form-check-label" for="opt17">
    Option 17:
  </label>
  <br>
  <p4>We will recommend two videos from your most preferred category, followed by a video from the categories you prefer least in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt18" value="option18">
  <label class="form-check-label" for="opt18">
    Option 18:
  </label>
  <br>
  <p4>We will recommend three videos from your most preferred category, followed by a video from the categories you prefer least in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt19" value="option19">
  <label class="form-check-label" for="opt19">
    Option 19:
  </label>
  <br>
  <p4>We will recommend four videos from your most preferred category, followed by a video from the categories you prefer least to in an alternating way</p4>
  <hr>
  <input class="form-check-input" type="radio" name="opt" id="opt20" value="option20">
  <label class="form-check-label" for="opt20">
    Option 20:
  </label>
  <br>
  <p4>We will recommend one video from your most preferred categories, followed by a video from the categories you prefer least to in an alternating way</p4>
  <hr>
</div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock%}