{% extends "base.html" %}
{% block title %}Home{% endblock%}
{% block content %}
<form method="POST">
    <h3 align="center">第一轮视频浏览结束</h3>
    <p>您已完成第一轮视频浏览，接下来将进入第二轮视频类型偏好选择，第二轮将根据您的选择播放6个短视频。若您想要观看相同类型的视频，请选择与第一轮同样的视频类型，若您想要探索不同类型的视频，请重新做出您的选择。</p>
    <div class="form-group">
        <label>请点击“继续”按钮选择您在第二轮中的视频偏好。</label>
        <!--<label>Please click the button to choose your preferences for the next round.</label>-->
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" onclick="load()" id="cont">继续</button>
</form>
{% endblock%}